<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMALES EXOTICOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container text-center mt-3">

<!-- ENCABEZADO -->
        <div class="row">
            <div class="col-12 bg-dark-subtle p-3">
                <h3>DESARROLLO DE PLANTILLA BASE</h3>
            </div>
        </div>

<!-- MENU -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="animales exoticos.html">Animales Exoticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="vehiculos antiguos.html">Vehiculos Antiguos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="maravillas.html">Las Maravillas del Mundo</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Acerca de:
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Accion</a></li>
                                <li><a class="dropdown-item" href="#">Otra accion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>

<!-- TARJETA 1: BOSQUE -->
        <div class="row mt-2">
            <div class="col-12 bg-info-subtle p-1">
                <h3>ANIMALES EXOTICOS DEL BOSQUE</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
               <img src="../static/img/BOSQUE.jpg" class="img-fluid" alt="Imagenes del Bosque">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del bosque</div>
                    <div class="card-body">
                        <p class="card-text">Un bosque es un ecosistema donde predominan los árboles y arbustos, y que alberga una amplia gama de vegetación, incluyendo hierbas y flores. Estos ecosistemas cubren aproximadamente un tercio de la superficie terrestre y son fundamentales para el equilibrio ecológico del planeta. Los bosques actúan como reguladores del clima, producen oxígeno, absorben dióxido de carbono y conservan el suelo.</p>
                        <a href="https://concepto.de/bosque/" target="_blank"
                            class="btn btn-info">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS BOSQUE -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/lince.europeo.jpg" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">LINCE EUROPEO</h5>
                        <p class="card-text">
                            Es un felino de tamaño mediano que habita los bosques fríos y templados de Europa y Asia. Tiene patas fuertes, orejas con mechones negros y una vista excepcional para cazar presas pequeñas. Es solitario y muy sigiloso.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/Buho real.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUHO REAL</h5>
                        <p class="card-text">
                            Una de las aves rapaces más grandes del planeta. Vive en zonas boscosas y montañosas, y se caracteriza por su vuelo silencioso y su poderosa vista nocturna. Caza pequeños mamíferos, aves y reptiles.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/Oso pardo.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OSO PARDO</h5>
                        <p class="card-text">
                            Habita en los bosques del hemisferio norte. Es omnívoro, se alimenta de frutos, miel, insectos y peces. Durante el invierno hiberna y contribuye a la dispersión de semillas en el ecosistema.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 2: SELVA -->
        <div class="row">
            <div class="col-12 bg-primary-subtle p-1">
                <h3>ANIMALES EXOTICOS DE LA SELVA</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/SELVA.webp" class="img-fluid" alt="Imagenes de la selva">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion de la selva</div>
                    <div class="card-body">
                        <p class="card-text">
                            Las selvas son ecosistemas esenciales para la salud del planeta, proporcionando hábitats para una vasta cantidad de especies y contribuyendo a la estabilidad climática. La conservación de estos ecosistemas es crucial para mantener la biodiversidad y el equilibrio ecológico global.
                        </p>
                        <a href="https://nuevaescuelamexicana.org/selva/" target="_blank"
                            class="btn btn-primary">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS SELVA -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/jaguar.jpg" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">JAGUAR</h5>
                        <p class="card-text">
                            Es el felino más grande de América y un símbolo de la selva tropical. Destaca por su fuerza, agilidad y habilidad para nadar. Caza tapires, caimanes y monos en los densos bosques tropicales.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/guacamayo.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GUACAMAYO AZUL/AMARILLO</h5>
                        <p class="card-text">
                            Ave tropical colorida y ruidosa que habita las selvas húmedas de Sudamérica. Se alimenta de frutas y semillas, y forma parejas de por vida. Su plumaje brillante lo convierte en una de las especies más admiradas
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/rana azul.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">RANA VENENOSA AZUL</h5>
                        <p class="card-text">
                            Pequeño anfibio de color intenso que vive en el suelo húmedo de la selva. Su piel segrega toxinas para defenderse de depredadores. Es una especie muy sensible a los cambios del ambiente.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 3: DESIERTO -->
        <div class="row">
            <div class="col-12 bg-warning-subtle p-1">
                <h3>ANIMALES EXOTICOS DEL DESIERTO</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/DESIERTO.jpg" class="img-fluid" alt="Imagenes del Desierto">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del desierto</div>
                    <div class="card-body">
                        <p class="card-text">
                            Los desiertos son conocidos por tener un clima seco, con precipitaciones anuales que pueden ser inferiores a 250 mm. Las temperaturas pueden variar drásticamente entre el día y la noche, alcanzando extremos tanto en calor como en frío. es un paisaje bioclimático (o bioma) que puede ser cálido o helado y que se caracteriza por tener bajos índices de precipitación, un clima seco, temperaturas extremas y un suelo árido. En los desiertos habitan escasas especies de flora y fauna (y también poblaciones humanas) que pudieron adaptarse a estas duras condiciones de vida.
                        </p>
                        <a href="https://www.ecologiaverde.com/ecosistema-del-desierto-caracteristicas-flora-y-fauna-1886.html" target="_blank"
                            class="btn btn-warning">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS DESIERTO -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/fennec.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">FENNEC</h5>
                        <p class="card-text">
                            Pequeño zorro africano con enormes orejas que ayudan a disipar el calor. Es nocturno y se alimenta de insectos, pequeños reptiles y frutas. Vive en madrigueras para protegerse del sol intenso.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/camello.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CAMELLO DROMEDARIO</h5>
                        <p class="card-text">
                            Famoso por su joroba, donde almacena grasa. Puede pasar días sin beber agua y soportar temperaturas extremas. Es fundamental para las caravanas y comunidades del desierto.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/cascabel.jpg" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">SERPIENTE CASCABEL</h5>
                        <p class="card-text">
                            Reptil venenoso que vive en los desiertos de América. Emite un sonido con su cola como advertencia. Se camufla fácilmente con la arena y caza pequeños roedores.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 4: PRADERA -->
        <div class="row">
            <div class="col-12 bg-success-subtle p-1">
                <h3>ANIMALES EXOTICOS DE LA PRADERA</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/PRADERA 4.jpg" class="img-fluid" alt="Imagenes de la pradera">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion de la pradera</div>
                    <div class="card-body">
                        <p class="card-text">
                            La pradera es un gran terreno llano, plano y abierto como campo abierto, cubierto en su mayor parte por pastizales y hierbas bajas que lo caracterizan. A veces es posible que lleguen a una zona costera donde desembocan en un mar. Se considera una agrupación o conjunto de prados. es un tipo de bioma que se caracteriza por un clima templado y una vegetación formada, en su mayoría, por hierbas, matorrales y escasos árboles. Las praderas son terrenos abiertos y llanos que están ubicados en la parte central de los continentes y sus condiciones climatológicas están en el medio entre el clima desértico y el boscoso.
                        </p>
                        <a href="https://thefreenature.com/praderas/" target="_blank"
                            class="btn btn-success">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS PRADERA -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/bisonte.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BISONTE AMERICANO</h5>
                        <p class="card-text">
                            Gran mamífero que habita las praderas de América del Norte. Se alimenta de pasto y migra en manadas. Fue cazado casi hasta la extinción, pero hoy es símbolo de conservación ecológica.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/antilope.jpg" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ANTILOPE SAIGA</h5>
                        <p class="card-text">
                            De hocico alargado y curvado, vive en las praderas de Asia central. Es muy veloz y forma grandes grupos. Está en peligro de extinción debido a la caza y la pérdida de su hábitat natural.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/perrito.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PERRITO DE LA PRADERA</h5>
                        <p class="card-text">
                            Pequeño roedor social que habita en colonias subterráneas. Sus túneles ayudan a airear el suelo. Es presa de coyotes, águilas y zorros, y esencial para el equilibrio del ecosistema.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 5: TUNDRA -->
        <div class="row">
            <div class="col-12 bg-info-subtle p-1">
                <h3>ANIMALES EXOTICOS DE LA TUNDRA</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/TUNDRA 5.jpg" class="img-fluid" alt="Imagenes de la tundra">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion de la tundra</div>
                    <div class="card-body">
                        <p class="card-text">
                            La tundra es un bioma que se caracteriza por presentar un subsuelo helado, escasas precipitaciones y un terreno llano con falta de vegetación de árboles. El término tundra proviene del ruso y quiere decir “llanura sin árboles”.
Es el bioma más frío del planeta, por lo que suele encontrarse en zonas cercanas a los polos, y tiene un paisaje característico y distintivo formado por una capa de nieve que cubre tanto el suelo como los montes.
                        </p>
                        <a href="https://concepto.de/tundra/" target="_blank"
                            class="btn btn-info">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS TUNDRA -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/zorro.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ZORRO ARTICO</h5>
                        <p class="card-text">
                            Tiene un espeso pelaje blanco que cambia a marrón en verano. Está adaptado al frío extremo y se alimenta de pequeños roedores, aves y carroña. Su camuflaje lo protege de los depredadores.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/reno.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">RENO</h5>
                        <p class="card-text">
                            Mamífero herbívoro que habita las regiones frías del norte. Sus grandes cuernos y patas fuertes le permiten moverse por la nieve. Es fundamental para las comunidades indígenas árticas.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/nival.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUHO NIVAL</h5>
                        <p class="card-text">
                            Ave de plumaje blanco que habita las regiones frías. Es un excelente cazador diurno y se alimenta principalmente de lemmings. Su belleza lo convierte en un símbolo del Ártico.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 6: TAIGA -->
        <div class="row">
            <div class="col-12 bg-danger-subtle p-1">
                <h3>ANIMALES EXOTICOS DE LA TAIGA</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/TAIGA 6.jpg" class="img-fluid" alt="Imagenes de la taiga">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion de la taiga</div>
                    <div class="card-body">
                        <p class="card-text">
                            Se trata de un bioma muy importante para la oxigenación y fijación del carbono del planeta (es decir, su enfriamiento), dado que las enormes extensiones de bosques de la taiga absorben grandes cantidades de CO2, uno de los principales gases de efecto invernadero. se ubican en las regiones frías del norte del hemisferio norte, en las inmediaciones del círculo polar ártico, en el norte de Rusia (Siberia incluida), Europa, Canadá y Alaska (EEUU), constituyendo un bioma intermedio entre la estepa y la tundra. En el hemisferio sur no existen taigas, pero su equivalente sería el bosque subpolar magallánico.
                        </p>
                        <a href="https://concepto.de/taiga/" target="_blank"
                            class="btn btn-danger">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS TAIGA -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/lobo gris.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">LOBO GRIS</h5>
                        <p class="card-text">
                             Depredador que vive en manadas organizadas. Caza ciervos, alces y otros mamíferos de la taiga. Es un símbolo de inteligencia, trabajo en equipo y equilibrio ecológico.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/alce.webp" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ALCE</h5>
                        <p class="card-text">
                            El mayor de los cérvidos. Habita en los pantanos y bosques fríos, alimentándose de hojas, ramas y cortezas. Sus grandes astas sirven para la defensa y el cortejo en la época de apareamiento.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/oso negro.jpg" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OSO NEGRO</h5>
                        <p class="card-text">
                             Mamífero omnívoro que vive en los bosques de coníferas. Se alimenta de frutas, insectos y pequeños animales. Durante el invierno hiberna en cuevas para conservar energía.
                        </p>
                    </div>
                </div>
            </div>
        </div>

<!-- TARJETA 7: ACUATICOS -->
        <div class="row">
            <div class="col-12 bg-primary-subtle p-1">
                <h3>ANIMALES EXOTICOS ACUATICOS</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/AGUA.jpg" class="img-fluid" alt="Imagenes del E.acuatico">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del E.acuatico</div>
                    <div class="card-body">
                        <p class="card-text">
                            Un ecosistema acuático es un ecosistema que se desarrolla en un cuerpo de agua, que puede tener diversos tamaños y características. Estos cuerpos pueden ser mares, lagos, ríos, pantanos, arroyos o lagunas. En ellos, juegan un rol vital las características del agua, su salinidad, su temperatura, sus ciclos, así como el contenido orgánico presente en ella. Los ecosistemas acuáticos son numerosos y abundantes en vida, por lo que suelen presentar complejas cadenas tróficas de animales adaptados a las condiciones particulares del agua. En el caso de los ríos, depende mucho de los elementos terrestres arrastrados o disueltos por la corriente, así como de la presencia o ausencia de minerales o materia orgánica de los suelos que recorre.
                        </p>
                        <a href="https://concepto.de/ecosistema-acuatico/" target="_blank"
                            class="btn btn-primary">Para más información</a>
                    </div>
                </div>
            </div>

<!-- GRUPO DE CARTAS ACUATICOS -->
            <div class="card-group">
                <div class="card">
                    <img src="../static/img/delfin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">DELFIN NARIZ DE BOTELLA</h5>
                        <p class="card-text">
                            Mamífero marino sociable e inteligente. Usa sonidos para comunicarse y orientarse. Vive en grupos y se alimenta de peces y calamares. Es muy común en aguas tropicales y templadas.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/caballito de mar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CABALLITO DE MAR</h5>
                        <p class="card-text">
                            Pez pequeño con forma única que nada en posición vertical. Los machos son los que llevan los huevos en una bolsa. Vive en arrecifes y praderas marinas, alimentándose de pequeños crustáceos.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/tiburon ballena.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TIBURON BALLENA</h5>
                        <p class="card-text">
                            El pez más grande del mundo. A pesar de su tamaño, se alimenta filtrando plancton y peces pequeños. Es una especie pacífica y en peligro de extinción debido a la pesca y contaminación.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PIE DE PAGINA -->
        <div class="row">
            <div class="col-12 bg-secondary text-white p-3">
                <h4>BAXIN CAGAL KEVIN EDUARDO - PROGRAMACION - 3ºD</h4>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>