<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEHICULOS ANTIGUOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container text-center mt-3">

<!-- ENCABEZADO -->
        <div class="row">
            <div class="col-12 bg-dark-subtle p-3">
                <h3>DESARROLLO DE PLANTILLA BASE</h3>
            </div>
        </div>

<!-- MENU -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="animales exoticos.html">Animales Exoticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="vehiculos antiguos.html">Vehiculos Antiguos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="maravillas.html">Las Maravillas del Mundo</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Acerca de:
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Accion</a></li>
                                <li><a class="dropdown-item" href="#">Otra accion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>

<!-- INFORMACION -->
<div class="container">
    <div class="row mt-2">
        <div class="col-12 bg-danger-subtle p-1">
            <h3>Historia del nacimiento de los vehículos</h3>
        </div>
    </div>
    <h6>
        <p>El nacimiento de los vehículos marcó una de las transformaciones más grandes en la historia de la humanidad. Antes de su invención, las personas dependían de carretas tiradas por caballos, trenes o caminar largas distancias para transportarse. Con el avance de la ciencia y la mecánica en el siglo XIX, muchos inventores comenzaron a experimentar con nuevas formas de transporte que no necesitaran animales.</p>
        <p>Uno de los más importantes fue Karl Benz, un ingeniero alemán que en 1886 creó el Benz Patent-Motorwagen, considerado el primer automóvil moderno. Este vehículo tenía tres ruedas y un motor a gasolina, y podía alcanzar una velocidad de alrededor de 16 km/h, algo impresionante para la época. Poco después, Gottlieb Daimler y Wilhelm Maybach desarrollaron un motor más pequeño que podía usarse en autos de cuatro ruedas, lo que mejoró la estabilidad y velocidad.</p>
        <p>En Estados Unidos, Henry Ford cambió por completo la historia de los automóviles con la creación de la producción en cadena. En 1908, lanzó el Ford Modelo T, un vehículo sencillo y barato que muchas familias podían comprar. Gracias a él, los automóviles dejaron de ser un lujo y se convirtieron en una herramienta accesible para el pueblo.</p>
        <p>Con el paso del tiempo, los vehículos comenzaron a incorporar nuevas tecnologías, como motores más potentes, frenos más seguros, luces, y carrocerías cerradas. También aparecieron diferentes tipos de vehículos: camiones, motocicletas, autobuses y más. Este desarrollo marcó el inicio de la era del transporte moderno.</p>
    </h6>
    </div>

<!-- TARJETA 1: Ford (Estados Unidos) -->
        <div class="row mt-2">
            <div class="col-12 bg-success-subtle p-1">
                <h3>1. FORD (ESTADOS UNIDOS)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/FORD.jpg" class="img-fluid" alt="Imagenes del FORD">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del Ford</div>
                    <div class="card-body">
                        <p class="card-text"> Fundada en 1903 por Henry Ford.
Su modelo más famoso, el Modelo T, se fabricó entre 1908 y 1927, y es conocido como el primer automóvil accesible para la mayoría de la población.
Innovó con la producción en cadena, lo que redujo los costos y permitió producir autos mucho más rápido.
Ford también introdujo mejoras en seguridad y confiabilidad, como frenos más eficientes y motores duraderos.
Además, la marca se expandió internacionalmente, creando fábricas en Europa y Sudamérica.</p>
                        <a href="https://locosporloscoches.com/ford-modelos-antiguos/" target="_blank"
                            class="btn btn-success">Para más información</a>
                    </div>
                </div>
            </div>

<!-- TARJETA 2: Benz (Alemania) -->
        <div class="row mt-2">
            <div class="col-12 bg-primary-subtle p-1">
                <h3>BENZ (ALEMANIA)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/BENZ.webp" class="img-fluid" alt="Imagenes del BENZ">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del Benz</div>
                    <div class="card-body">
                        <p class="card-text">Fundada por Karl Benz, inventor del Benz Patent-Motorwagen en 1886, considerado el primer automóvil moderno a gasolina.
Su primer auto era de tres ruedas, podía alcanzar unos 16 km/h y tenía motor de un solo cilindro.
La compañía se fusionó en 1926 con Daimler para formar Mercedes-Benz, que combinó lujo, innovación y tecnología avanzada.
Benz también desarrolló temprano motores de alta eficiencia que se usaron en camiones y barcos pequeños.</p>
                        <a href="https://www.excelsior.com.mx/trending/benz-patent-motorwagen/1697017" target="_blank"
                            class="btn btn-primary">Para más información</a>
                    </div>
                </div>
            </div>
            
<!-- TARJETA 3: Daimler (Alemania) -->
        <div class="row mt-2">
            <div class="col-12 bg-dark-subtle p-1">
                <h3>DAIMLER (ALEMANIA)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/DAIMLER.webp" class="img-fluid" alt="Imagenes del DAIMLER">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del Daimler</div>
                    <div class="card-body">
                        <p class="card-text">Fundada por Gottlieb Daimler y Wilhelm Maybach en 1890.
Pioneros en motores de combustión interna de alta velocidad que podían instalarse en vehículos pequeños.
Antes de la fusión con Benz, fabricaban automóviles de lujo y coches de carreras, mostrando siempre innovación mecánica.
Daimler ayudó a popularizar la idea de un auto rápido, seguro y confiable, dejando legado en Mercedes-Benz.</p>
                        <a href="https://es.wikipedia.org/wiki/Daimler-Motoren-Gesellschaft#Historia" target="_blank"
                            class="btn btn-secondary">Para más información</a>
                    </div>
                </div>
            </div>

<!-- TARJETA 4: Peugeot (Francia) -->
        <div class="row mt-2">
            <div class="col-12 bg-danger-subtle p-1">
                <h3>PEUGEOT (FRANCIA)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/PEUGEOT.jpeg" class="img-fluid" alt="Imagenes del PEUGEOT">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del Peugeot</div>
                    <div class="card-body">
                        <p class="card-text">Peugeot es una marca de la industria automotriz con sede en Poissy, Francia, especializado en la fabricación de turismos, vehículos comerciales, automóviles de carreras, servicios de movilidad como alquiler de vehículos, bicicletas, motonetas, así como útiles de cocina como saleros, pimenteros y molinillos de café. Los molinillos fueron su primer producto y más tarde se dedicaría a la fabricación de automóviles con el nombre «Les fils de Peugeot frères» (Hijos de los hermanos Peugeot). Hoy en día los utensilios de cocina los fabrica Peugeot Saveurs.</p>
                        <a href="https://es.wikipedia.org/wiki/Peugeot" target="_blank"
                            class="btn btn-danger">Para más información</a>
                    </div>
                </div>
            </div>
</div>

<!-- TARJETA 5: Renault (Francia) -->
        <div class="row mt-2">
            <div class="col-12 bg-info-subtle p-1">
                <h3>RENAULT (FRANCIA)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 bg-light p-3">
                <img src="../static/img/RENAULT.jpg" class="img-fluid" alt="Imagenes del RENAULT">
            </div>

            <div class="col-12 col-md-6 bg-light p-3">
                <div class="card">
                    <div class="card-header">Informacion del Renault</div>
                    <div class="card-body">
                        <p class="card-text">La historia de Renault es una parte fundamental de la historia del motor en Francia y en todo el mundo. Esta marca, fundada por Louis Renault en 1898, ha sido testigo de los grandes acontecimientos del siglo XX y ha contribuido de manera decisiva al desarrollo de la industria automovilística. En este artículo vamos a repasar los momentos más destacados de la historia de Renault, desde sus inicios hasta la actualidad, pasando por las dos guerras mundiales, la producción en serie, las victorias en la competición y la expansión internacional. Además, conoceremos los modelos más emblemáticos de la marca y sus avances en materia de tecnología y sostenibilidad. Todo ello conforma una historia apasionante que merece la pena conocer en detalle.</p>
                        <a href="https://locosporloscoches.com/historia-de-renault-desde-sus-inicios-hasta-la-actualidad/" target="_blank"
                            class="btn btn-info">Para más información</a>
                    </div>
                </div>
            </div>
</div>

        <!-- PIE DE PAGINA -->
    <div class="container text-center">

        <div class="row">
            <div class="col-12 bg-secondary text-white p-3">
                <h4>BAXIN CAGAL KEVIN EDUARDO - PROGRAMACION - 3ºD</h4>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
